@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 1rem;
}html{
    scroll-behavior: smooth;
}
/* body{
    overflow: hidden;
} */
.container{
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(140, 4, 219), rgb(70, 24, 70), rgb(10, 15, 102));
}nav{
    position: sticky;
    top: 0;
    opacity: 70%;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
    background-color: rgb(178,155,235);
}.name{
    display: flex;
    font-size: 2.3vw;
    font-weight: 900;
    color: #3d535f;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}.navItems{
    display: flex;
}.navItems li{
    list-style: none;
    margin: 0 1rem;
}.navItems li a{
    font-size: 1.5vw;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}.navItems li:hover a{
    color: #e91e63;
}.wrapper{
    display: flex;
    max-width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    overflow: hidden;
}.wrapper::before{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: -5%;
    top: 65%;
    background: linear-gradient(45deg, blueviolet, pink);
    animation: object1 3s linear infinite;
}@keyframes object1{
    50%{
        left: -6%;
        top: 66%;    }
}.cols0{
    padding-left: 30px;
    width: 80%;
    z-index: 5;
}.col1{
    padding: 3vw;
    list-style: none;
}.col2{
    padding: 3vw;
    list-style: none;
}.topline{
    display: block;
    position: relative;
    font-size: 1.8vw;
    letter-spacing: 5px;
    color: rgb(210, 192, 255);
}.topline::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 45px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.884);
}h1{
    display: block;
    font-size: 3vw;
    font-weight: 500;
    color: rgb(210, 192, 255);
    font-family: 'young serif';
    letter-spacing: 2px;
}.multiText{
    color: rgba(255, 255, 255, 0.884);
    font-size: 3vw;
    font-weight: 500;
    font-family: 'young serif';
    letter-spacing: 1px;
}h3{
    display: block;
    font-size: 1.8vw;
    font-weight: 600;
    color: rgb(210, 192, 255);
}p{
    display: block;
    max-width: 90%;
    font-size: 1.2vw;
    color: rgb(210, 192, 255);
}.butn{
    max-width: 100%;
    position: relative;
    left: 22vw;
}button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 400;
    color: #3d535f;
    background-color: rgb(210, 192, 255);
    padding: 5px 10px;
    margin: 18px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}button:hover{
    background-color: blueviolet;
    color:  rgb(210, 192, 255);
}.imgbox{
    position: relative;
    max-width: 55%;
    right: -275px;
    height: auto;
}.imgbox img{
    position: relative;
    width: calc(130% - 80px);
    height: auto;
    border-radius: 40% 40% 30% 70%/60% 30% 70% 40%;
    top: 1px;
    right: 70px;
    animation: animateUser 4s linear infinite;
}@keyframes animateUser{
    50%{
        right: 90px;
        top: 10px;    }
}.skills{
    display: flex;
    list-style: none;
    max-width: 55%;
    margin: auto;
    color: rgb(210, 192, 255);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.459);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}h2{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 3.2vw;
    font-weight: 500;
    color: rgb(210, 192, 255);
    font-family: 'young serif';
    letter-spacing: 2px;
    text-shadow: 3px 3px #3d535f;
}.skills h3{
    margin: 5px;
}.skills li{
    margin: 10px 0;
    padding: 5px;
}.bar{
    background: #353b48;
    display: block;
    height: 16px;
    width: 18vw;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25, 1);
}.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252,103,103,1)100%);
}.HTML{
    width: 90%;
    animation: HTML 3s;
}.CSS{
    width: 85%;
    animation: CSS 3s;
}.C{
    width: 60%;
    animation: C 3s;
}.JavaScript{
    width: 75%;
    animation: JavaScript 3s;
}.ReactJs{
    width: 70%;
    animation: ReactJs 3s;
}.React-Native{
    width: 65%;
    animation: React-Native 3s;
}.Python{
    width: 55%;
    animation: Python 3s;
}.NodeJs{
    width: 65%;
    animation: NodeJs 3s;
}.MySQL{
    width: 40%;
    animation: MySQL 3s;
}.Mongo{
    width: 50%;
    animation: Mongo 3s;
}@keyframes HTML{
    0%{
        width: 0%;    }
    100%{
        width: 90%;    }
}@keyframes CSS{
    0%{
        width: 0%;    }
    100%{
        width: 85%;    }
}@keyframes C{
    0%{
        width: 0%;    }
    100%{
        width: 60%;    }
}@keyframes JavaScript{
    0%{
        width: 0%;    }
    100%{
        width: 75%;    }
}@keyframes ReactJs{
    0%{
        width: 0%;    }
    100%{
        width: 70%;    }
}@keyframes React-Native{
    0%{
        width: 0%;    }
    100%{
        width: 65%;    }
}@keyframes Python{
    0%{
        width: 0%;    }
    100%{
        width: 55%;    }
}@keyframes NodeJs{
    0%{
        width: 0%;    }
    100%{
        width: 65%;    }
}@keyframes MySQL{
    0%{
        width: 0%;}
    100%{
        width: 40%;}
}@keyframes Mongo{
    0%{
        width: 0%;}
    100%{
        width: 50%;    }
}.ccard{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}.card:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}.card{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
}.card img{
    width: 100%;
    height: auto;
}.card img:hover{
    transform: scale(1.2,1.1);
    transition: .3s transform;
}.cont{
    padding: 16px;
}.cont h3{
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}.cont p{
    font-size: 15px;
    line-height: 1.5;
}.contact{
    display: flex;
    max-width: 100%;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    overflow: hidden;
}.cinfo{
    width: 90vh;
    z-index: 5;
}.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}.icon{
    min-width: 50px;
    height: 50px;
    background: rgb(210, 192, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}.text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}.text a{
    text-decoration: none;
    color: rgb(210, 192, 255);
    font-size: 2.5vh;
    font-weight: 500;
}.cform{
    width: 40%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.459);
}.input{
    position: relative;
    width: 100%;
    margin-top: 10px;
}input,textarea{
    color: rgb(210, 192, 255);
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
}.input span{
    color: rgb(210, 192, 255);
    font-size: 19px;
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}.btt{
    background-color: rgba(0, 0, 0, 0.7);
}input:focus ~ span, input:valid ~ span, 
textarea:focus ~ span, textarea:valid ~ span{
    color: #e91e63;
    font-size: 17px;
    transform: translateY(-19px);
}input[type="submit"]{
    cursor: pointer;
    padding: 10px;
}.space{
    padding: 70px;
}footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}footer p{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
}.wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}.wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateW 4s linear infinite;
}.wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateW2 4s linear infinite;
}.wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateW 3s linear infinite;
}.wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateW2 3s linear infinite;
}@keyframes animateW{
    0%{
        background-position-x: 1000px;
    }100%{
        background-position-x: 0px;
    }
}@keyframes animateW2{
    0%{
        background-position-x: 0px;
    }100%{
        background-position-x: 1000px;
    }
}